body {
  background-image: url('wood.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



.title {
  font-family: 'Raleway:wght@700', sans-serif;
  font-size: 66px;
  padding: 50px;
  margin: -10px 100px 0px 100px;
}

.bodyBox {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin: -10px 100px 0px 100px;
  background-color: rgba(255, 255, 255, 0.5);
}
