body {
  background-image: url('wood.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.tab {
  margin-left: 30px;
  margin-right: 30px;
  text-indent: 30px;
}

.list {
  margin-left: 30px;
  margin-right: 30px;
}

.title {
  font-family: 'Raleway:wght@700', sans-serif;
  font-size: 66px;
  padding: 50px;
  margin: -10px 100px 0px 100px;
}

.subtitle {
  font-family: 'Raleway:wght@700', sans-serif;
  font-size: 44px;
  padding: 30px;
  margin: -10px 100px 0px 100px;
}

.bodyBox {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin: -10px 100px 0px 100px;
  background-color: rgba(220, 220, 220, 0.6);
}

.imgMargin {
  ALIGN: "right";
  HSPACE: 50;

}
